<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.c301_teamproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main" >
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="ca.ualberta.cs.c301_teamproject.WelcomePage" />
                   
        </activity>
        
        <activity
            android:name=".CreateTask"
            android:label="@string/create_task" >
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
                   
        </activity>
        
        <activity
            android:name=".CreateItem"
            android:label="@string/create_item" >
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="ca.ualberta.cs.c301_teamproject.CreateTask" />
                   
        </activity>
        
          <activity
            android:name=".ViewTasks"
            android:label="@string/tasks" >
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
                   
        </activity>
        
          <activity
            android:name="ca.ualberta.cs.c301_teamproject.ViewSingleTask"
            android:label="@string/view_full_task" >
           <meta-data
               android:name="android.support.PARENT_ACTIVITY"
               android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
                   
        </activity>
        
    </application>

</manifest>