<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.c301_teamproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <!-- For Camera and Audio Capturing -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomePage"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.WelcomePage" />
        </activity>
        <activity
            android:name=".CreateTask"
            android:label="@string/create_task"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
        </activity>
        <activity
            android:name=".CreateItem"
            android:label="@string/create_item"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.CreateTask" />
        </activity>
        <activity
            android:name=".TaskProperties"
            android:label="@string/task_properties"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.CreateTask" />
        </activity>
        <activity
            android:name=".ViewTasks"
            android:label="@string/tasks"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
        </activity>
        <activity
            android:name=".ViewSingleTask"
            android:label="@string/view_full_task"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
        </activity>
        <activity
            android:name=".InputFile"
            android:label="@string/title_inputfile"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name=".InputText"
            android:label="@string/title_activity_input_text"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name=".FileBrowser"
            android:label="@string/title_activity_file_browser"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.InputFile" />
        </activity>
        <activity
            android:name=".ItemList"
            android:label="@string/title_list_item"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ViewSingleTask" />
        </activity>
        <activity
            android:name="ca.ualberta.cs.c301_preview.PreviewAudio"
            android:label="@string/preview_audio"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name="ca.ualberta.cs.c301_preview.PreviewPhoto"
            android:label="@string/preview_picture"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name="ca.ualberta.cs.c301_teamproject.InputAudio"
            android:label="@string/title_list_item"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.InputFile" />
        </activity>
        <activity
            android:name="ca.ualberta.cs.c301_preview.PreviewVideo"
            android:label="@string/preview_video"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name="ca.ualberta.cs.c301_preview.PreviewText"
            android:label="@string/preview_text"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.ItemList" />
        </activity>
        <activity
            android:name=".LocalTaskList"
            android:label="@string/title_activity_local_task_list"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.c301_teamproject.MainPage" />
        </activity>
    </application>

</manifest>